label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  margin: auto;
  top: 100px;

  border: 1px solid #212121;
  box-sizing: border-box;
  max-width: 400px !important;
  padding: 40px 40px;
}

.card {
  background-color: #ffffff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.font-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.font-titulo {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.font-nome{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;

  color: #000000;
}

.font-funcao {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 5px;
  margin-bottom: 10px;

  color: #000000;
}

.font-cadastro {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin-left: 15px;
}

.foto-naver {
  margin-top: 10px;
}

.form-cadastro {
  width: 220px;
  margin-left: 15px;
}

.botao-novo {
  float: right;
}